{% extends 'musicapp/layout.html' %}

{% block body %}
    <h1>Edit song details</h1>
    <form action="updateRecord" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="title">Title:</label>
                <input id="title" type="text" name="title" value="{{ title }}"/>
            </li>
            <li>
                <label for="date_released">Date released:</label>
                <input id="date_released" type="date" name="date_released" value="{{ date_released }}"/>
            </li>
            <li>
                <button>Confirm update</button>
                <a href="{% url 'musicapp:index' %}"><button type="button">Cancel</button></a>
            </li>
        </ul>
    </form>
{% endblock %}